<div class="w-dvw h-dvh bg-cover bg-center relative bg-gray-100">
    <section class="w-full h-full flex justify-center items-center relative">
        <!-- Right Image -->
        <img loading="lazy" src="assets/logo/logo.png"
            class="absolute right-10 top-[40%] transform -translate-y-1/2 object-contain w-[550px]" />

        <!-- Login Form Positioned to the Left and Upper -->
        <div class="absolute top-[15%] left-[28%]">
            <app-login-form></app-login-form>
        </div>

        <!-- Bottom Right Text -->
        <div class="absolute bottom-10 right-10 text-right">
            <h1 class="text-5xl font-bold text-amber-500 max-md:text-4xl">Quanby</h1>
            <h2 class="text-5xl font-medium text-black max-md:text-4xl">Supply Management System</h2>
        </div>
    </section>
</div>
