-- CreateEnum
CREATE TYPE "ProcurementMethod" AS ENUM ('Public', 'Alternative');

-- CreateEnum
CREATE TYPE "ProjectStatus" AS ENUM ('DRAFT', 'PENDING', 'APPROVED', 'REJECTED', 'COMPLETED');

-- CreateEnum
CREATE TYPE "ApprovalStatus" AS ENUM ('Approved', 'Rejected');

-- CreateEnum
CREATE TYPE "EntityType" AS ENUM ('PPMP', 'PurchaseRequest', 'APP', 'ProcurementProcess', 'Contract', 'InspectionAcceptance', 'Payment');

-- CreateEnum
CREATE TYPE "RequestStatus" AS ENUM ('Draft', 'Pending', 'Approved');

-- CreateEnum
CREATE TYPE "UserType" AS ENUM ('SuperAdmin', 'Admin', 'User');

-- CreateEnum
CREATE TYPE "UserRole" AS ENUM ('superadmin', 'accounting', 'supply', 'bac', 'inspection', 'enduser', 'president');

-- CreateEnum
CREATE TYPE "ContractStatus" AS ENUM ('Active', 'Completed', 'Terminated');

-- CreateEnum
CREATE TYPE "PaymentMethod" AS ENUM ('Check', 'ADA');

-- CreateEnum
CREATE TYPE "AuditAction" AS ENUM ('Created', 'Updated', 'Approved', 'Rejected', 'Deleted');

-- CreateEnum
CREATE TYPE "NotificationType" AS ENUM ('info', 'success', 'warning', 'error');

-- CreateEnum
CREATE TYPE "EventMode" AS ENUM ('Online', 'InPerson', 'Hybrid');

-- CreateEnum
CREATE TYPE "EventType" AS ENUM ('PreProcurement', 'PreBidding');

-- CreateTable
CREATE TABLE "ProcurementProcess" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "process_order" INTEGER NOT NULL,
    "procurement_mode_id" "ProcurementMethod" NOT NULL,

    CONSTRAINT "ProcurementProcess_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ProcurementMode" (
    "id" TEXT NOT NULL,
    "mode_name" TEXT NOT NULL,
    "method" "ProcurementMethod" NOT NULL,

    CONSTRAINT "ProcurementMode_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "FundSource" (
    "id" TEXT NOT NULL,
    "source_name" TEXT NOT NULL,

    CONSTRAINT "FundSource_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Budget" (
    "id" TEXT NOT NULL,
    "office_id" TEXT NOT NULL,
    "fund_id" TEXT NOT NULL,
    "created_by" TEXT NOT NULL,
    "fiscal_year" INTEGER NOT NULL,
    "budget_name" TEXT NOT NULL,
    "allocated_budget" DOUBLE PRECISION NOT NULL,
    "used_amount" DOUBLE PRECISION NOT NULL,
    "date_created" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Budget_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "UserBudget" (
    "id" TEXT NOT NULL,
    "user_id" TEXT NOT NULL,
    "budget_id" TEXT NOT NULL,
    "allocated_amount" DOUBLE PRECISION NOT NULL,
    "used_amount" DOUBLE PRECISION NOT NULL,
    "date_allocated" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "UserBudget_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PPMPProject" (
    "id" TEXT NOT NULL,
    "office_id" TEXT NOT NULL,
    "app_id" TEXT,
    "procurement_mode_id" TEXT NOT NULL,
    "prepared_by_id" TEXT NOT NULL,
    "project_title" TEXT NOT NULL,
    "project_code" TEXT,
    "project_description" TEXT NOT NULL,
    "classifications" TEXT[],
    "user_budget_id" TEXT NOT NULL,
    "abc" DOUBLE PRECISION,
    "contract_scope" TEXT,
    "fiscal_year" INTEGER NOT NULL,
    "remarks" TEXT,
    "signature" TEXT,
    "status" "ProjectStatus" NOT NULL DEFAULT 'DRAFT',

    CONSTRAINT "PPMPProject_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PPMPItem" (
    "id" TEXT NOT NULL,
    "ppmp_project_id" TEXT NOT NULL,
    "quantity_required" INTEGER NOT NULL,
    "unit_of_measurement" TEXT NOT NULL,
    "estimated_unit_cost" DOUBLE PRECISION NOT NULL,
    "estimated_total_cost" DOUBLE PRECISION NOT NULL,
    "classification" TEXT NOT NULL,
    "technical_specification" TEXT,
    "scope_of_work" TEXT,
    "terms_of_reference" TEXT,

    CONSTRAINT "PPMPItem_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PPMPSchedule" (
    "id" TEXT NOT NULL,
    "ppmp_id" TEXT NOT NULL,
    "milestone" TEXT NOT NULL,
    "date" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "PPMPSchedule_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Approvals" (
    "id" TEXT NOT NULL,
    "approver_id" TEXT NOT NULL,
    "entity_id" TEXT NOT NULL,
    "document_id" TEXT NOT NULL,
    "approval_status" "ApprovalStatus" NOT NULL,
    "remarks" TEXT,
    "signature" TEXT,
    "timestamp" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Approvals_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Approver" (
    "id" TEXT NOT NULL,
    "user_id" TEXT NOT NULL,
    "entity_id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "approval_order" INTEGER NOT NULL,
    "process_id" TEXT,

    CONSTRAINT "Approver_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Entity" (
    "id" SERIAL NOT NULL,
    "name" "EntityType" NOT NULL,
    "description" TEXT,

    CONSTRAINT "Entity_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "APP" (
    "id" TEXT NOT NULL,
    "fund_source" TEXT NOT NULL,
    "prepared_by" TEXT NOT NULL,
    "approvals_id" TEXT NOT NULL,
    "fiscal_year" INTEGER NOT NULL,
    "date_prepared" TIMESTAMP(3) NOT NULL,
    "date_approved" TIMESTAMP(3),
    "total_quantity_required" INTEGER NOT NULL,
    "total_estimated_cost" DOUBLE PRECISION NOT NULL,

    CONSTRAINT "APP_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PurchaseRequest" (
    "id" TEXT NOT NULL,
    "prNo" TEXT NOT NULL,
    "user_id" TEXT NOT NULL,
    "office_id" TEXT NOT NULL,
    "project_id" TEXT NOT NULL,
    "current_approver_level" INTEGER NOT NULL,
    "current_procurement_level" INTEGER,
    "request_date" TIMESTAMP(3) NOT NULL,
    "status" "RequestStatus" NOT NULL,
    "signature" TEXT,

    CONSTRAINT "PurchaseRequest_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "VendorInfo" (
    "id" TEXT NOT NULL,
    "companyName" TEXT NOT NULL,
    "tin" TEXT NOT NULL,
    "address" TEXT NOT NULL,
    "telFax" TEXT NOT NULL,
    "email" TEXT NOT NULL,

    CONSTRAINT "VendorInfo_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Department" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,

    CONSTRAINT "Department_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Building" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "address" TEXT NOT NULL,
    "numberOfFloors" INTEGER NOT NULL,
    "dateConstructed" TIMESTAMP(3),

    CONSTRAINT "Building_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Office" (
    "id" TEXT NOT NULL,
    "department_id" TEXT NOT NULL,
    "building_id" TEXT,
    "name" TEXT NOT NULL,

    CONSTRAINT "Office_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Users" (
    "id" TEXT NOT NULL,
    "fullname" TEXT NOT NULL,
    "username" TEXT NOT NULL,
    "password" TEXT NOT NULL,
    "position" TEXT,
    "user_type" "UserType" NOT NULL,
    "role" "UserRole" NOT NULL,
    "isAdmin" BOOLEAN,
    "profile" TEXT NOT NULL,
    "officeId" TEXT NOT NULL,

    CONSTRAINT "Users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Contract" (
    "id" TEXT NOT NULL,
    "purchase_request_id" TEXT NOT NULL,
    "contractor_name" TEXT NOT NULL,
    "contract_amount" DOUBLE PRECISION NOT NULL,
    "contract_date" TIMESTAMP(3) NOT NULL,
    "start_date" TIMESTAMP(3) NOT NULL,
    "end_date" TIMESTAMP(3) NOT NULL,
    "status" "ContractStatus" NOT NULL,

    CONSTRAINT "Contract_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "InspectionAcceptance" (
    "id" TEXT NOT NULL,
    "contract_id" TEXT NOT NULL,
    "inspected_by" INTEGER NOT NULL,
    "inspection_date" TIMESTAMP(3) NOT NULL,
    "signature" TEXT NOT NULL,
    "remarks" TEXT,

    CONSTRAINT "InspectionAcceptance_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Payment" (
    "id" TEXT NOT NULL,
    "contract_id" TEXT NOT NULL,
    "disbursement_voucher_date" TIMESTAMP(3) NOT NULL,
    "payment_date" TIMESTAMP(3) NOT NULL,
    "amount_paid" DOUBLE PRECISION NOT NULL,
    "payment_method" "PaymentMethod" NOT NULL,

    CONSTRAINT "Payment_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AuditTrail" (
    "id" TEXT NOT NULL,
    "entity_id" TEXT NOT NULL,
    "record_id" TEXT NOT NULL,
    "approvals_id" TEXT NOT NULL,
    "action" "AuditAction" NOT NULL,
    "performed_by" TEXT NOT NULL,
    "performed_at" TIMESTAMP(3) NOT NULL,
    "remarks" TEXT,

    CONSTRAINT "AuditTrail_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Notification" (
    "id" SERIAL NOT NULL,
    "message" TEXT NOT NULL,
    "type" "NotificationType" NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL,
    "is_read" BOOLEAN NOT NULL,
    "office_id" TEXT,
    "user_id" TEXT,
    "role" "UserRole",

    CONSTRAINT "Notification_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Document" (
    "id" TEXT NOT NULL,
    "procurement_process_id" TEXT NOT NULL,
    "entity_id" INTEGER NOT NULL,
    "record_id" INTEGER NOT NULL,
    "file_path" TEXT NOT NULL,
    "uploaded_by" INTEGER NOT NULL,
    "upload_date" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Document_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ConferenceEvent" (
    "id" TEXT NOT NULL,
    "ppmp_id" TEXT NOT NULL,
    "date" TIMESTAMP(3) NOT NULL,
    "event_time" TIMESTAMP(3) NOT NULL,
    "mode" "EventMode" NOT NULL,
    "platform" TEXT,
    "type" "EventType" NOT NULL,
    "created_by" TEXT NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ConferenceEvent_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Invitation" (
    "id" TEXT NOT NULL,
    "event_id" TEXT NOT NULL,
    "ppmp_id" TEXT NOT NULL,
    "date" TIMESTAMP(3) NOT NULL,
    "time" TIMESTAMP(3) NOT NULL,
    "mode" "EventMode" NOT NULL,
    "platform" TEXT,
    "participants" TEXT[],
    "type" "EventType" NOT NULL,
    "sent_by" TEXT NOT NULL,
    "sent_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Invitation_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PaymentTerm" (
    "id" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "days" INTEGER NOT NULL,
    "percentageRequired" DOUBLE PRECISION NOT NULL,
    "isActive" BOOLEAN NOT NULL,

    CONSTRAINT "PaymentTerm_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "_PPMPProjectToPPMPSchedule" (
    "A" TEXT NOT NULL,
    "B" TEXT NOT NULL,

    CONSTRAINT "_PPMPProjectToPPMPSchedule_AB_pkey" PRIMARY KEY ("A","B")
);

-- CreateTable
CREATE TABLE "_ConferenceEventToPPMPProject" (
    "A" TEXT NOT NULL,
    "B" TEXT NOT NULL,

    CONSTRAINT "_ConferenceEventToPPMPProject_AB_pkey" PRIMARY KEY ("A","B")
);

-- CreateIndex
CREATE UNIQUE INDEX "PurchaseRequest_project_id_key" ON "PurchaseRequest"("project_id");

-- CreateIndex
CREATE UNIQUE INDEX "Users_username_key" ON "Users"("username");

-- CreateIndex
CREATE INDEX "_PPMPProjectToPPMPSchedule_B_index" ON "_PPMPProjectToPPMPSchedule"("B");

-- CreateIndex
CREATE INDEX "_ConferenceEventToPPMPProject_B_index" ON "_ConferenceEventToPPMPProject"("B");

-- AddForeignKey
ALTER TABLE "Budget" ADD CONSTRAINT "Budget_office_id_fkey" FOREIGN KEY ("office_id") REFERENCES "Office"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Budget" ADD CONSTRAINT "Budget_fund_id_fkey" FOREIGN KEY ("fund_id") REFERENCES "FundSource"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "UserBudget" ADD CONSTRAINT "UserBudget_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "Users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "UserBudget" ADD CONSTRAINT "UserBudget_budget_id_fkey" FOREIGN KEY ("budget_id") REFERENCES "Budget"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PPMPProject" ADD CONSTRAINT "PPMPProject_office_id_fkey" FOREIGN KEY ("office_id") REFERENCES "Office"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PPMPProject" ADD CONSTRAINT "PPMPProject_procurement_mode_id_fkey" FOREIGN KEY ("procurement_mode_id") REFERENCES "ProcurementMode"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PPMPProject" ADD CONSTRAINT "PPMPProject_prepared_by_id_fkey" FOREIGN KEY ("prepared_by_id") REFERENCES "Users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PPMPProject" ADD CONSTRAINT "PPMPProject_user_budget_id_fkey" FOREIGN KEY ("user_budget_id") REFERENCES "UserBudget"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PPMPItem" ADD CONSTRAINT "PPMPItem_ppmp_project_id_fkey" FOREIGN KEY ("ppmp_project_id") REFERENCES "PPMPProject"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Approvals" ADD CONSTRAINT "Approvals_approver_id_fkey" FOREIGN KEY ("approver_id") REFERENCES "Approver"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Approver" ADD CONSTRAINT "Approver_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "Users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "APP" ADD CONSTRAINT "APP_fund_source_fkey" FOREIGN KEY ("fund_source") REFERENCES "FundSource"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "APP" ADD CONSTRAINT "APP_prepared_by_fkey" FOREIGN KEY ("prepared_by") REFERENCES "Users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PurchaseRequest" ADD CONSTRAINT "PurchaseRequest_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "Users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PurchaseRequest" ADD CONSTRAINT "PurchaseRequest_office_id_fkey" FOREIGN KEY ("office_id") REFERENCES "Office"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PurchaseRequest" ADD CONSTRAINT "PurchaseRequest_project_id_fkey" FOREIGN KEY ("project_id") REFERENCES "PPMPProject"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Office" ADD CONSTRAINT "Office_department_id_fkey" FOREIGN KEY ("department_id") REFERENCES "Department"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Office" ADD CONSTRAINT "Office_building_id_fkey" FOREIGN KEY ("building_id") REFERENCES "Building"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Users" ADD CONSTRAINT "Users_officeId_fkey" FOREIGN KEY ("officeId") REFERENCES "Office"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Contract" ADD CONSTRAINT "Contract_purchase_request_id_fkey" FOREIGN KEY ("purchase_request_id") REFERENCES "PurchaseRequest"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "InspectionAcceptance" ADD CONSTRAINT "InspectionAcceptance_contract_id_fkey" FOREIGN KEY ("contract_id") REFERENCES "Contract"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Payment" ADD CONSTRAINT "Payment_contract_id_fkey" FOREIGN KEY ("contract_id") REFERENCES "Contract"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Invitation" ADD CONSTRAINT "Invitation_event_id_fkey" FOREIGN KEY ("event_id") REFERENCES "ConferenceEvent"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_PPMPProjectToPPMPSchedule" ADD CONSTRAINT "_PPMPProjectToPPMPSchedule_A_fkey" FOREIGN KEY ("A") REFERENCES "PPMPProject"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_PPMPProjectToPPMPSchedule" ADD CONSTRAINT "_PPMPProjectToPPMPSchedule_B_fkey" FOREIGN KEY ("B") REFERENCES "PPMPSchedule"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_ConferenceEventToPPMPProject" ADD CONSTRAINT "_ConferenceEventToPPMPProject_A_fkey" FOREIGN KEY ("A") REFERENCES "ConferenceEvent"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_ConferenceEventToPPMPProject" ADD CONSTRAINT "_ConferenceEventToPPMPProject_B_fkey" FOREIGN KEY ("B") REFERENCES "PPMPProject"("id") ON DELETE CASCADE ON UPDATE CASCADE;

