<section class="container mx-auto px-4 py-8">
  <div class="container mx-auto p-6">
    <h1 class="text-4xl font-bold text-left mb-12 text-gray-800">User Profile</h1>
    <!-- Profile View -->
    <div *ngIf="view === 'profile'" class="bg-white rounded-lg shadow-md p-6">
      <div class="flex items-center space-x-10">
        <div class="relative w-20 h-20">
          <!-- Spinner -->
          <div
            *ngIf="isImageLoading"
            class="absolute inset-0 flex items-center justify-center"
          >
            <div class="w-8 h-8 border-4 border-blue-500 border-t-transparent rounded-full animate-spin"></div>
          </div>
    
          <!-- Profile Image -->
          <img
            *ngIf="!isImageLoading"
            [src]="userProfileImage"
            alt="Profile Picture"
            class="w-20 h-20 rounded-full"
          />
        </div>
        <div>
          <h2 class="text-xl font-semibold">{{ userName }}</h2>
          <p class="text-gray-500">{{ userEmail }}</p>
        </div>
      </div>
      <hr class="my-6" />
      <div class="grid grid-cols-2 gap-4">
        <div>
          <h3 class="text-gray-700 font-semibold">Name</h3>
          <p class="text-gray-600">{{ userName }}</p>
        </div>
        <div>
          <h3 class="text-gray-700 font-semibold">Username</h3>
          <p class="text-gray-600">{{ userUsername }}</p>
        </div>
        <div>
          <h3 class="text-gray-700 font-semibold">Role</h3>
          <p class="text-gray-600">{{ getRoleDisplay(userRole) }}</p>
        </div>
        <div>
          <h3 class="text-gray-700 font-semibold">Email</h3>
          <p class="text-gray-600">{{ userEmail }}</p>
        </div>
      </div>
      <div class="mt-6 flex justify-end space-x-4">
        <button
          class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded"
          (click)="changeView('edit')"
        >
          Edit Profile
        </button>
        <button
          class="bg-gray-500 hover:bg-gray-600 text-white px-4 py-2 rounded"
          (click)="changeView('changePassword')"
        >
          Change Password
        </button>
      </div>
    </div>
    
  
    <!-- Edit Profile View -->
    <div *ngIf="view === 'edit'" class="bg-white rounded-lg shadow-md p-6">
      <h2 class="text-xl font-semibold mb-4">Edit Profile</h2>
      <div class="flex items-center space-x-10 mb-6">
        <!-- Profile Image Section -->
        <div class="relative w-28 h-28 group">
          <!-- Profile Image -->
          <img
            [src]="userProfileImage"
            alt="Profile Picture"
            class="w-full h-full rounded-full object-cover cursor-pointer"
            (click)="triggerFileInput()"
          />
          <!-- Hover Effect -->
          <div
            class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center rounded-full opacity-0 group-hover:opacity-100 transition-opacity duration-300 cursor-pointer"
            (click)="triggerFileInput()"
          >
            <div class="text-white text-center">
              <i class="fas fa-plus text-lg"></i>
              <p class="text-sm">Change Profile Image</p>
            </div>
          </div>
          <!-- Hidden File Input -->
          <input
            type="file"
            class="hidden"
            #fileInput
            (change)="onProfilePictureChange($event)"
            accept="image/*"
          />
        </div>
        <!-- User Info -->
        <div>
          <h2 class="text-xl font-semibold">{{ userName }}</h2>
          <p class="text-gray-500">{{ userEmail }}</p>
        </div>
      </div>
      <hr class="mb-6" />
      <!-- Form Fields -->
      <form (submit)="onEditProfile($event)" class="grid grid-cols-2 gap-4">
        <div class="mb-4">
          <label class="block text-gray-700">Name</label>
          <input
            type="text"
            [(ngModel)]="userName"
            name="name"
            class="border rounded w-full p-2"
            required
          />
        </div>
        <div class="mb-4">
          <label class="block text-gray-700">Username</label>
          <input
            type="text"
            [(ngModel)]="userUsername"
            name="username"
            class="border rounded w-full p-2"
            required
          />
        </div>
        <div class="mb-4">
          <label class="block text-gray-700">Role</label>
          <input
            type="text"
            [(ngModel)]="userRole"
            name="role"
            class="border rounded w-full p-2"
            disabled
          />
        </div>
        <div class="mb-4">
          <label class="block text-gray-700">Email</label>
          <input
            type="text"
            [(ngModel)]="userEmail"
            name="email"
            class="border rounded w-full p-2"
            required
            [disabled]="isEmailUpdating"
          />
        </div>
        <div class="col-span-2 space-x-4">
          <button
            type="submit"
            class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded"
            [disabled]="isEmailUpdating"
          >
            Save
          </button>
          <button
            type="button"
            class="bg-gray-500 hover:bg-gray-600 text-white px-4 py-2 rounded"
            (click)="changeView('profile')"
          >
            Cancel
          </button>
        </div>
      </form>
      <!-- Loading Indicator (optional, displayed during email update) -->
      <div *ngIf="isEmailUpdating" class="flex justify-center items-center mt-4">
        <p class="text-red-600"> Awaiting Email Confirmation </p>
        <div class="w-8 h-8 border-4 border-blue-500 border-t-transparent rounded-full animate-spin"></div>
      </div>
    </div>    
    
    <!-- Change Password View -->
    <div *ngIf="view === 'changePassword'" class="bg-white rounded-lg shadow-md p-6">
      <h2 class="text-xl font-semibold mb-4">Change Password</h2>
      <form (submit)="onChangePassword($event)">
        <div class="mb-4">
          <label class="block text-gray-700">Current Password</label>
          <input
            type="password"
            [(ngModel)]="passwords.currentPassword"
            name="currentPassword"
            class="border rounded w-full p-2"
            required
          />
        </div>
        <div class="mb-4">
          <label class="block text-gray-700">New Password</label>
          <input
            type="password"
            [(ngModel)]="passwords.newPassword"
            name="newPassword"
            class="border rounded w-full p-2"
            required
          />
        </div>
        <div class="mb-4">
          <label class="block text-gray-700">Confirm New Password</label>
          <input
            type="password"
            [(ngModel)]="passwords.confirmPassword"
            name="confirmPassword"
            class="border rounded w-full p-2"
            required
          />
        </div>
        <div class="space-x-4">
          <button
            type="submit"
            class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded"
          >
            Save
          </button>
          <button
            type="button"
            class="bg-gray-500 hover:bg-gray-600 text-white px-4 py-2 rounded"
            (click)="changeView('profile')"
          >
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>  
</section>
  